Repository AhmetCengiz03/football-project, pull requests merged in 2025-06, with the labels that each got.

#6 [PR] Create PR templates
  .github/ISSUE_TEMPLATE/pull_request_template.md
Labels: documentation

#18 [BUG] PR template fix
  .github/pull_request_template.md
  .gitignore
  architecture/README.md
  dashboard/README.md
  pipeline/README.md
Labels: Bug, Documentation, Github

#29 [PR] Add Codeowners file
  .github/CODEOWNERS
Labels: Documentation, Github

#28 [PR] Create live match scraper script
  pipeline/README.md
  pipeline/requirements.txt
  pipeline/scrape_live_test.py
Labels: Feature, Extract

#21 [PR] Design wireframe dashboard
  dashboard/README.md
  dashboard/football_dashboard_wireframe_v3.png
Labels: Feature, Dashboard

#46 [PR] Feature create initial schema
  architecture/database/README.md
  architecture/database/schema.sql
Labels: Feature, SQL

#58 [PR] Feature create a load script
  pipeline/load.py
  pipeline/requirements.txt
Labels: Feature, Load

#55 [PR] Create bash script for db setup
  architecture/database/setup_db.sh
Labels: Feature

#71 [PR] Create Dynamic Scheduler
  .github/workflows/main.yml
  scheduler/.gitignore
  scheduler/README.md
  scheduler/requirements.txt
  scheduler/scheduler.py
  scheduler/test_scheduler.py
Labels: Feature, Scheduler

#67 [PR] Update ERD
  architecture/database/football_project_erd.png
  architecture/database/schema.sql
Labels: Database

#74 [PR] Create Tests for Scheduler
  scheduler/conftest.py
  scheduler/scheduler.py
  scheduler/test_scheduler.py
Labels: Feature, Scheduler

#73 [PR] Create cascading selector for dashboard
  dashboard/selector.py
  dashboard/streamlit_app.py
Labels: Dashboard

#96 [PR] Feature create lambda stop trigger
  stop_trigger/.gitignore
  stop_trigger/README.md
  stop_trigger/requirements.txt
  stop_trigger/stop_trigger.py
Labels: Feature, Scheduler

#104 [PR] Add tests to the schedule stopper
  .github/workflows/main.yml
  scheduler/scheduler.py
  scheduler/test_scheduler.py
  stop_trigger/stop_trigger.py
  stop_trigger/test_stop_trigger.py
Labels: Scheduler

#113 [PR] Working load script
  .gitignore
  architecture/database/schema.sql
  pipeline/README.md
  pipeline/db_connect.sh
  pipeline/load.py
  pipeline/pipeline.py
  pipeline/scrape_live_game.py
  pipeline/transform.py
Labels: Feature, Load, SQL, Database

#115 [PR] Add logging throughout main pipeline
  architecture/database/schema.sql
  pipeline/extract.py
  pipeline/load.py
  pipeline/pipeline.py
  pipeline/transform.py
Labels: Feature, Extract, Transform, Load

#130 [PR] Goal checker in load script
  architecture/database/schema.sql
  pipeline/load.py
  pipeline/pipeline.py
  pipeline/transform.py
Labels: Load, SQL

#146 [PR] Dashboard enhancements
  .github/workflows/main.yml
  .gitignore
  dashboard/.streamlit/config.toml
  dashboard/data.py
  dashboard/home.py
  dashboard/momentum.py
  dashboard/page2.py
  dashboard/playbyplay.png
  dashboard/selector.py
  dashboard/streamlit_app.py
  dashboard/timeline.py
Labels: Feature, Dashboard

#151 [PR] Transform tweak to allow for penalties
  pipeline/transform.py
Labels: Feature, Transform

#142 [PR] Update architecture diagram
  architecture/architecture_diagram.png
Labels: Feature, Architecture Design

#168 [PR] Update tests and add documentation
  .github/workflows/main.yml
  README.md
  architecture/README.md
  architecture/database/README.md
  architecture/database/setup_db.sh
  architecture/terraform/README.md
  pipeline/README.md
  pipeline/extract.py
  pipeline/load.py
  pipeline/pipeline.py
  pipeline/test_extract.py
  pipeline/test_load.py
  pipeline/test_pipeline.py
  seed_master_data/Dockerfile
  seed_master_data/README.md
  seed_master_data/conftest.py
  seed_master_data/connect.sh
  seed_master_data/extract_transform.py
  seed_master_data/handler.py
  seed_master_data/load_data.py
  seed_master_data/requirements.txt
  seed_master_data/test_seeding.py
Labels: Documentation, Feature, Extract, Load

#154 [PR] Create fixtures page
  dashboard/.streamlit/config.toml
  dashboard/data.py
  dashboard/fixtures.py
  dashboard/home.py
  dashboard/momentum.py
  dashboard/page2.py
  dashboard/playbyplay.png
  dashboard/requirements.txt
  dashboard/selector.py
  dashboard/streamlit_app.py
  dashboard/subscription.py
  dashboard/timeline.py
Labels: Feature, Dashboard

#172 [PR] Update subdirectory structure
  .github/workflows/main.yml
  notification/Dockerfile
  notification/README.md
  notification/goal_notification.py
  notification/requirements.txt
  notification/test_goal_notification.py
Labels: Documentation

#178 [PR] Remove borders
  dashboard/home.py
Labels: Feature, Dashboard
